@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Roboto:ital,wght@0,900;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-noto-thai: 'Noto Sans Thai', sans-serif; 
}
@keyframes popupAnim {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-popup {
  animation: popupAnim 0.25s ease-out;
}
@keyframes fadeScale {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pop {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  70% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-fadeScale {
  animation: fadeScale 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}

.animate-pop {
  animation: pop 0.4s ease-out;
}
