.cardfield{
    margin:  20px;
    height: fit-content;
    width: 300px;
    border-radius: 10px;
    border-color: #2563EB;
    padding:  17px 17px 17px 17px;
    box-shadow: 10px 5px 10px 20px rgba(12, 241, 12, 0.1);
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}
